body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('./image/snow.jpg');
    background-size: 100vw 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: unset;
}
#title{
    position: absolute;
    top: 3em;
}
#countTime{
    width: 40vw;
    display: flex;
    position: absolute;
    top: 15em;
}
#countTime div{
    display: inline-block;
    width: calc(100%/4);
    text-align: center;
}
#countTime p:first-child{
    font-size: 5em;
    font-weight: bold;
}
#countTime p:last-child{
    font-size: 1.2em;
    font-weight: 200;
    transform: translateY(-2.5em);
}